# Data and Models
data/
models/
*.csv
*.xlsx
*.json
*.jpg
*.png
*.h5
*.pkl
*.pt

# DVC Cache and Temporary Files
/.dvc/cache
/.dvc/tmp

# Sensitive Information
.dvc/config.local
.env
.aws/credentials

# Virtual Environment and Build Artifacts
venv/
__pycache__/
*.pyc
.DS_Store
